<link href="~/Content/NewYork/css" rel="stylesheet" />
<link href="~/Content/NewYork/jquery.vegas.css" rel="stylesheet" />
<link href="~/Content/NewYork/jquery.jscrollpane.css" rel="stylesheet" />
<link href="~/Content/NewYork/styles.css" rel="stylesheet" />


@*<script src="~/Scripts/NewYork/jquery-1.6.2.min.js"></script>*@
<script src="~/Scripts/NewYork/jquery.easing.js"></script>
<script src="~/Scripts/NewYork/jquery.vegas.js"></script>
<script src="~/Scripts/NewYork/jquery.jscrollpane.min.js"></script>
<script src="~/Scripts/NewYork/buzz.js"></script>
<script src="~/Scripts/NewYork/gallery.js"></script>


<img class="vegas-background" src="~/Content/img/11.jpg" style="position: fixed; left: 0px; top: 0px; width: 1600px; height: 1070.31px; bottom: auto; right: auto;"><div class="vegas-overlay" style="margin: 0px; padding: 0px; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;"></div>
<div id="flash" style="display: none;"></div>
<div id="title" style="display: block; bottom: -90px;">
    <h1>Statue of Liberty</h1>
    <p>Picture by <a href="https://www.flickr.com/photos/48904316@N04/">Alessandro Artini</a></p>
</div>
<div id="thumbnails" style="overflow: hidden; padding: 0px; width: 1600px; top: -90px;">
    <div class="jspContainer" style="width: 1600px; height: 90px;">
        <div class="jspPane" style="padding: 0px; top: 0px; width: 1600px;">
            <ul style="width: 1464px;">
                <li><a href="~/Content/img/01.jpg"><img src="~/Content/img/01.jpg" title="New York moving" data-valign="top"></a></li>
                <li><a href="~/Content/img/02.jpg"><img src="~/Content/img/02.jpg" title="New York traffic" data-valign="bottom"></a></li>
                <li><a href="~/Content/img/03.jpg"><img src="~/Content/img/03b.jpg" title="Street dancers"></a></li>
                <li><a href="~/Content/img/04.jpg"><img src="~/Content/img/04b.jpg" title="Lights"></a></li>
                <li><a href="~/Content/img/05.jpg"><img src="~/Content/img/05b.jpg" title="NBC Studio"></a></li>
                <li><a href="~/Content/img/06.jpg"><img src="~/Content/img/06b.jpg" title="New York by night" data-valign="top"></a></li>
                <li><a href="~/Content/img/07.jpg"><img src="~/Content/img/07b.jpg" title="Empire State Building"></a></li>
                <li><a href="~/Content/img/08.jpg"><img src="~/Content/img/08b.jpg" title="New York Promenade" data-valign="top"></a></li>
                <li><a href="~/Content/img/09.jpg"><img src="~/Content/img/09b.jpg" title="Ellis Island Flag" data-valign="top"></a></li>
                <li><a href="~/Content/img/10.jpg"><img src="~/Content/img/10b.jpg" title="Central Park"></a></li>
                <li><a href="~/Content/img/11.jpg"><img src="~/Content/img/11b.jpg" title="Statue of Liberty" data-valign="top"></a></li>
                <li><a href="~/Content/img/12.jpg"><img src="~/Content/img/12b.jpg" title="Shoes"></a></li>
            </ul><div id="pointer" style="left: 1220px; display: none;"></div>
        </div>
    </div>
</div>
<div id="pause" style="display: block;"><a href="#">Paused</a></div>
<div id="volume" class="all" style="top: 20px;"><a href="#">Sounds</a></div>

