SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEMA_TM_USER_PROFILE_SOSMED](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_PROFILE_ID] [int] NOT NULL,
	[SOSMED_NAME] [varchar](100) NOT NULL,
	[SOSMED_PATH] [varchar](100) NOT NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GEMA_TM_USER_PROFILE_SOSMED] ADD  DEFAULT ((0)) FOR [ROW_STATUS]
GO
ALTER TABLE [dbo].[GEMA_TM_USER_PROFILE_SOSMED]  WITH CHECK ADD  CONSTRAINT [FK_GEMA_TM_USER_PROFILE_SOSMED_GEMA_TM_USER_PROFILE] FOREIGN KEY([USER_PROFILE_ID])
REFERENCES [dbo].[GEMA_TM_USER_PROFILE] ([ID])
GO
ALTER TABLE [dbo].[GEMA_TM_USER_PROFILE_SOSMED] CHECK CONSTRAINT [FK_GEMA_TM_USER_PROFILE_SOSMED_GEMA_TM_USER_PROFILE]
GO
