SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEMA_TM_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [varchar](50) NOT NULL,
	[USER_MAIL] [varchar](100) NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[IS_SUPER_ADMIN] [bit] NOT NULL,
	[LAST_LOGIN] [datetime] NULL,
	[PASSWORD] [varchar](50) NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GEMA_TM_USER] ADD  DEFAULT ((0)) FOR [IS_SUPER_ADMIN]
GO
ALTER TABLE [dbo].[GEMA_TM_USER] ADD  DEFAULT ((0)) FOR [ROW_STATUS]
GO
