SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEMA_TM_IMAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE_GROUP_ID] [int] NOT NULL,
	[IMAGE_PATH] [varchar](100) NOT NULL,
	[IMAGE_BIT] [varbinary](max) NOT NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[GEMA_TM_IMAGE] ADD  DEFAULT ((0)) FOR [ROW_STATUS]
GO
ALTER TABLE [dbo].[GEMA_TM_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK_GEMA_TM_IMAGE_GEMA_TM_IMAGE_GROUP] FOREIGN KEY([IMAGE_GROUP_ID])
REFERENCES [dbo].[GEMA_TM_IMAGE_GROUP] ([ID])
GO
ALTER TABLE [dbo].[GEMA_TM_IMAGE] CHECK CONSTRAINT [FK_GEMA_TM_IMAGE_GEMA_TM_IMAGE_GROUP]
GO
